@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance:wght@300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --red:red;
  --gray:#f4f6f8;
  --grey-text:gray;
  --blue:blue;
  --white:white;
  --black:black;
  --body-text:#676e8b;
  --green:green;
}
html{
  scroll-behavior: smooth;
}
body{
  background: rgba(68,70,84,1);
  color: var(--white);
  font-family: 'Quicksand', monospace;
}

a{
  text-decoration: none;
  color: blueviolet;
}
.checked{
  box-shadow: 0 5px 20px 0 rgb(11 7 110 / 10%);
  background: var(--body-text);
  border: none;
}


